<div class="zebox"> 
  <div class="header">
    <p class="title">
      <%= title %>
    </p>
  </div>
  
  <div class="contents">
    <table>
      <thead>
        <th style="text-align: right;">Score</th>
        <th style="text-align: right;">Flight no</th>
        <th style="text-align: center;">From</th>
        <th style="text-align: center;">To</th>
        <th style="text-align: right;">Departure time</th>
        <th style="text-align: right;">Arrival time</th>
        <th style="text-align: right;">Layovers</th>
        <th style="text-align: right;">Price</th>
      </thead>
    
    <% for result in results %>
      <tr>
        <td style="text-align: right;"><%=h result.score %></td>
        <td style="text-align: right;"><%=h result.record_id %></td>
        <td style="text-align: center;"><%=h result.start_city %></td>
        <td style="text-align: center;"><%=h result.end_city %></td>
        <td style="text-align: right;"><%=h result.start_time %></td>
        <td style="text-align: right;"><%=h result.end_time %></td>
        <td style="text-align: right;"><%=h result.layovers %></td>
        <td style="text-align: right;"><%=h result.price %></td>
      </tr>
    <% end %>
    </table>
  </div>
  <div class="footer">
    <p class="summary">
      <%= pluralize(results.length, 'fare') %>
    </p>
  </div>
</div>

<div class="zebox"> 
  <div class="header">
    <p class="title">
      Time Spent per TEM
    </p>
  </div>
  
  <div class="contents">
    <table>
      <thead>
        <th style="text-align: left;">Task</th>
      	<% results.first.timings[:tems].each_index do |i| %>
        <th style="text-align: right;">TEM #<%=h i + 1 %></th>
				<% end %>
        <th style="text-align: right;">Total</th>				
      </thead>
    
      <% [[:tem_ids, 'Identify TEMs'], [:migrate_map, 'Migrate Mapper'],
          [:migrate_reduce, 'Migrate Reducer'], [:map, 'Map'],
          [:reduce, 'Reduce'], [:finalize, 'Finalize']].each do |task| %>
      <tr>
        <td style="text-align: left;"><%=h task.last %></td>
      	
        <% results.first.timings[:tems].each do |timing| %>
        <td style="text-align: right;">
				  <%=h '%.3f' % timing[task.first] %> s
				</td>
        <% end %>
        <td style="text-align: right;">
          <%=h '%.3f' % results.first.timings[:tems].map { |t| t[task.first] }.
                                sum %> s
        </td>
      </tr>
			<% end %>

      <tr>
        <td style="text-align: left;">Total</td>
        
        <% results.first.timings[:tems].each do |timing| %>
        <td style="text-align: right;">
          <%=h '%.3f' % timing.values.sum %> s
        </td>
        <% end %>
        <td style="text-align: right;">
          <%=h '%.3f' % results.first.timings[:tems].map { |t| t.values.sum }.
                                sum %> s
        </td>
      </tr>
    </table>
  </div>
  <div class="footer">
    <p class="summary">
      Total processing time: <%= h('%.3f' % results.first.timings[:total]) %> s
    </p>
  </div>
</div>
